services:
  prometheus:
    image: prom/prometheus
    container_name: prometheus
    ports:
      - "8008:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    restart: unless-stopped 
